*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  background-color: #9100FF;
}
.row-header-container .col-lg-6 img{
  width: 1.2rem;

}
.row-header-container a{
  text-decoration: none;
  color: white;

}
.row-header-container span,
.row-header-container i{
  color: #EAD1FF;
}

/* .row-header */

.header-container img{
  width: 120px;
  height: 50px;
}
.header-container .list-inline .list-inline-item a{
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.header-container .list-inline .list-inline-item i{
  margin-left: 0.5rem;
}
.header-container .list-inline .list-inline-item{
  margin-top: 0.7rem;
}
.header-container .col-lg-6 .bars{
  color: white;
  font-size: large;
}
.jumbo{
  height: 500px;
  padding-top: 0;
  background-color: #9100FF;
}
.jumbo .col-lg-5 svg{
  padding-bottom: 23rem;
} 