*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row-header-container .col-lg-3 img{
  width: auto;
  height: 14px;
  margin-top: 0.3rem;
  padding-left: 0.5rem;
  margin-right: 0;
}
.row-header-container span{
  padding-right: 0.3rem;
}
.row-header-container span,
.row-header-container h2,
.row-header-container i{
  color: #EAD1FF;
}
.row-header-container{
  padding-bottom: 1rem;
  border-bottom: 1px solid #9B0DFF;
  background-color: #9100FF;
}
.row-header{
  background-color: #9100FF;
  padding-top: 2rem;
}
.header-container img{
  width: 120px;
  height: 50px;
  margin-right: 1rem;
} 
.row-header .action-list,
.row-header .action-list a{
  list-style-type: none;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
  color: #EAD1FF;
}
.row-header .action-list i{
  font-size: small;
}