*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
}
.container-background{
  background-color: #9100FF;
  width: 100%;
}
.mt-6{
  margin-top: 4rem;
}
.mt-7{
  margin-top: 10rem;
}
.py-6{
  padding-bottom: 7rem;
  padding-top: 5rem;
}
.row-header-container{
  border-bottom: 1px solid #CB007F;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.row-header-container .col-lg-6 img{
  width: 1.2rem;
  margin-right: 0.3rem;

}
.row-header-container a{
  text-decoration: none;
  color: white;

}
.row-header-container span,
.row-header-container i{
  color: #EAD1FF;
}

/* .row-header */

.header-container img{
  width: 120px;
  height: 50px;
  margin-top: 0.3rem;
}
.header-container .list-inline .list-inline-item a{
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.header-container .list-inline .list-inline-item i{
  margin-left: 0.5rem;
}
.header-container .list-inline .list-inline-item{
  margin-top: 0.8rem;
}
.header-container .col-lg-6 .bars{
  color: white;
  font-size: 20px;
}
.jumbo{
  height: 500px;
  padding-top: 0;
  background-color: #9100FF;
}
.jumbo .col-lg-6 svg{
  padding-bottom: 23rem;
}
.call-to-action{
  display: inline-block;
  background-color: #273444;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  font-size: 14px;
}
.call-to-action span{
  font-size: small;
}
.jumbo h1,
.jumbo h2,
.jumbo p{
  color: #FFFFFF;
}
.jumbo h1{
  font-size: 3.5rem !important;
  margin-top: 3rem;
}
.jumbo h2{
  font-size: 2.3rem !important;
}
.jumbo p{
  font-size: 1.2rem;
}
@media screen and (max-width: 991px) {
  .jumbo .col-12{
    text-align: center;
  }
}
.container-card{
  width: 100%;
  background-color: #FAFBFE;
}
.container-card .row .col-sm-12{
  background-color: #FAFBFE;
  margin-top: 3rem;
}
.row{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 4rem !important;
  margin-top: 5rem !important;
}
.row .card img{
  text-align: center;
  margin: 0 auto;
}
.row .card{
  width: 85%;

}
@media screen and (max-width: 1199px) {
  .container-card .row .card{
    width: 100%;
  }
}
.container-card .col-6 .violet{
  color: #6E00FF;
}
.container-change .row .col-5 p{
  color:#bdc1c5 ;
}
.container-change .row .col-5 a{
  font-size: 1.2rem;
  color: #6E00FF;
}
.container-change .row .col-5 .fa-store-alt{
  font-size: 1rem;
  color: #6E00FF;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #e2ccff;
  padding: 0.5rem;
}
.container-change .row .col-5 .fa-palette{
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #d7f0e5;
  color: #FFAB00;
  padding: 0.5rem;
}
.container-change .row .col-5 .fa-cog{
  font-size: 1rem;
  color:#36B37E ;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #d7f0e5;
  padding: 0.5rem;
}

